:root {
  --primary-blue: #2563E1;
  --secondary-blue-gray: #64769A;
  --secondary-gray: #B6C2D0;
  --background-gray-white: #F1F5FF;
}

* {
  font-family: 'Google Sans Flex', sans-serif;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin-bottom: 7px;
}

.app-name {
  font-size: 1.8rem;
  font-weight: bold;
  vertical-align: middle;
}

.sidebar-menu-icon {
  vertical-align: middle;
}

.sidebar-menu-box {
  display: inline-block;
  vertical-align: middle;
  width: 8%;
  text-align: left;
}

.menu-item {
  display: block;
  margin: 5px;
}

.menu-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.app-name-box {
  display: inline-block;
  vertical-align: middle;
  width: 84%;
  text-align: center;
}

.sidebar-app-icon {
  vertical-align: middle;
}

.user-profile-item {
  vertical-align: middle;
}

.user-profile {
  text-align: center;
}

.register-link {
  display: block;
  color: rgb(73, 73, 255);
  text-decoration-line: underline;
  text-align: center;
}

.tasks-summary {
  margin: 8px 0;
}

.task-status-title {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.task-status-dot {
  vertical-align: middle;
}

.task-title {
  display: inline-block;
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
}

.task-date {
  display: inline-block;
  margin: 0px;
}

.menu-bar {
  width: 100%;
}

#new-task-button {
  margin: 0px;
  padding: 8px 16px;
  background-color: var(--primary-blue);
  color: white;
  border-radius: 5px;
  border: none;
}

.sidebar-box {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  min-width: 250px;
  min-height: 662px;
  margin: 1px;
  padding: 16px;
  background-color: var(--background-gray-white);
  border: 1px solid var(--secondary-gray);
  border-radius: 4px;
  text-align: left;
}

.tasks-box {
  display: inline-block;
  vertical-align: top;
  width: 74%;
  min-height: 662px;
  margin: 1px;
  padding: 16px;
  border: 1px solid var(--secondary-gray);
  border-radius: 4px;
  text-align: left;
}

.tasks-title-box {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  margin: 0px;
  font-size: 1.8rem;
}

.new-task-button-box {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin: 0px;
  text-align: right;
}

.task-check {
  vertical-align: middle;
  margin-right: 10px;
}

.task-box {
  width: 33%;
  height: 160px;
  margin-bottom: 12px;
  padding: 12px 16px;
  background-color: rgb(240, 240, 240);
  border: 1px solid var(--secondary-gray);
  border-radius: 16px;
  font-size: 0.8rem;
}






/* REGISTER PAGE */

.register-body {
  text-align: center;
}

.register-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#register-button {
  margin: 20px;
  width: 32%;
  height: 40px;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--primary-blue);
  color: white;
  border-radius: 13px;
  border: none;
}

.form-container {
  display: inline-block;
  width: 50%;
  width: 400px;
  background-color: var(--background-gray-white);
  border: 1px solid var(--secondary-gray);
  border-radius: 20px;
  box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.058);
  padding: 30px 20px;
}

.form-label {
  display: block;
  text-align: left;
  margin-bottom: 7px;
  padding-left: 4px;
}

.long-form-inp {
  width: 100%;
  padding: 5px 0px;
  border: 1px solid var(--secondary-gray);
  border-radius: 4px;
  text-align: start;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.radio-input {
  margin-left: 30px;
}




/* NEW TASK PAGE  */

.new-task-body {
  text-align: center;
}

.new-task-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.new-task-modal {
  display: inline-block;
  width: 30%;
  background-color: var(--background-gray-white);
  border: 1px solid var(--secondary-gray);
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.058);
}

#register-button {
  margin: 20px;
  width: 32%;
  height: 40px;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--primary-blue);
  color: white;
  border-radius: 13px;
  border: none;
}

#new-task-cancel {
  width: 40%;
  background-color: var(--background-gray-white);
  color: var(--primary-blue);
  border: 1px solid var(--secondary-blue-gray);
  border-radius: 20px;
  padding: 5px 20px;
  margin-right: 20px;
}

#new-task-save {
  width: 40%;
  background-color: var(--primary-blue);
  color: var(--background-gray-white);
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
}